/* Hero.css */

.hero-section {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 3;
}

.navbar-links {
    list-style: none;

    user-select: none;
    /* Disables any mouse interactions */
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    color: #fefdf1;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #68c7c5;
}

.hero-header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.hero-title {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    margin: 10px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    z-index: 1;
}

.hero-logo {
    width: 120px;
    height: auto;
    object-fit: contain;
    margin-left: 15px;
}

.hero-call-button {
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    background: transparent;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.hero-call-button:hover {
    background: white;
    color: black;
}

.hero-subtext {
    pointer-events: none;
    user-select: none;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.slide {
    position: relative;
    z-index: 2;
}

.slide-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hamburger-btn {
    display: none;
}

/* Responsive styles */
@media (max-width: 1260px) {
    .hero-title {
        font-size: 2rem;
    }

    .navbar-links {
        display: none;
    }

    .hero-logo {
        display: none;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 1.5rem;
    }

    .hamburger-btn {
        display: flex;
        justify-content: right;
        align-items: right;
    }

    .hero-call-button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}
