/* About.css */
.about-image-container {
    position: relative;
    width: 100%;
}

.about-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: right center;
    object-position: 80% 70%;
    overflow: hidden;
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.0));
    z-index: 1; /* Ensure overlay is above the image */
}

.about-image-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: top;
    display: inline-block;
}

.about-image-container h2::before {

}

@media (max-width: 768px) {
    /* .about-image { */
    /*     width: 100%; */
    /*     height: auto; */
    /*     object-fit: cover; */
    /*     background-position: right center; */
    /* } */

    .about-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 94%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: white;
        text-align: center;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.0));
        z-index: 1; /* Ensure overlay is above the image */
    } 
}

@media (max-width: 600px) {
    .about-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        background-position: right center;
    }

    .about-image-container {
      position: relative;
      height: auto;
      width: 100%;
    }

    .about-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 94%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: white;
        text-align: center;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.0));
        z-index: 1; /* Ensure overlay is above the image */
    }

}
