/* home.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html {
  -webkit-text-size-adjust: 100%; /* Prevents automatic text size adjustments */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Roboto', serif;
  background-color: rgba(0, 0, 0, 0.85);
}

.main-content {
  margin-bottom: 5px;
}

.section h2 {
  font-size: 2.5rem;
  margin-top: 10px;
  position: relative;
  display: inline-block;
}

/* Cards Container */
.cards-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; /* Center the cards within the container */
  padding: 40px;
  gap: 30px;

  /* New Width Constraint */
  width: 70vw; /* 90% of the viewport width */
  margin: 0 auto; /* Center the container on the page */
}

.about-section {
  width: 100%;
  height: auto;
  text-align: center;
}

.services-section {
  position: relative;  /* Added this */
  width: 100%;
  text-align: center;

  /* Background Image */
  background-image: url('/public/images/commercial_card_container.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  isolation: isolate;
}

/* Dark Overlay - Fixed */
.services-section::before {
  content: '';  /* Added missing content property */
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}


.contact-section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px 10px 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #FFF;
}

.contact-section p {
  font-size: 1rem;
  color: #FFF;
}

.footer-section {
  background-color: #3c3c3c; /* Match your navbar color */
  color: #fefdf1; /* Match your text color */
  text-align: center; /* Center text horizontally */
  width: 100%; /* Occupy full width */
  padding-bottom: 5px;
  padding-top: 5px;
}


@media (max-width: 768px) {

  .section h2 {
    font-size: 1.5rem;
    font-weight: 1000;
  }
}

/* Phone  */
@Media (max-width: 600) {

}


