/* home.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #B0F3F1, #FFFFDB); 
}

.main-content {
    margin-bottom: 5px;
}

.section {
  background-color: rgba(255, 255, 255, 0.5); /* White with 90% opacity */
  margin-top: 20px;
  margin-bottom: 10px;
}

.section h2 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.section h2::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 50px;
    height: 5px;
    background-color: #ff7e5f;
    transform: translateX(-50%);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards in the container */
    padding: 10px;
    gap: 30px; /* Space between cards */
}

.hero-section {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 20px;
    overflow: hidden;
}

.about-section {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards in the container */
    padding: 10px;
}

.services-section {
    text-align: center;    
    padding-bottom: 20px;
}

/* src/components/Contact.css */
.contact-section {
  /* margin-top: 20px; */
  padding: 30px 30px 10px 30px;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 1rem;
  color: #666;
}

/* Tablets */
@media (max-width: 768px) {
  .hero-section {
    overflow: hidden;
    height: 62vh;
  }

  .about-section {
    position: relative;
    height: 40vh;
  }
}

/* Phone  */
@Media (max-width: 600) {
  .hero-section {
    overflow: hidden;
    height: 62vh;
  }

  .about-section {
    position: relative;
    height: 40vh;
  }
}


